<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 about-bg rounded overflow-hidden">
          <div class="col-6 text-start">
            <img class="img-fluid w-100" src="" alt="">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid" src="" style="width: 85%; margin-top: 15%;" alt="">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid" src="" style="width: 85%;" alt="">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid w-100" src="" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4">Optimisez Votre Gestion de Catégories en Toute Simplicité</h1>
        <p class="mb-4">Gérez et organisez facilement toutes vos catégories en un seul endroit. Simplifiez votre processus de gestion, gagnez en efficacité et accédez rapidement à toutes vos informations essentielles.</p>
        <p><i class="fa fa-check text-secondary me-3"></i>Interface intuitive et facile à utiliser</p>
        <p><i class="fa fa-check text-secondary me-3"></i>Gestion centralisée de toutes vos catégories</p>
        <p><i class="fa fa-check text-secondary me-3"></i>Accès rapide et organisation optimisée</p>
        <a class="btn btn-secondary py-3 px-5 mt-3" href="/apropos">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
