<!-- Carousel Start -->
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/img/manage1.jpg" class="d-block w-100 carousel-img" alt="Promotion 1">
          <div class="carousel-caption d-none d-md-block">
              <h2>Découvrez nos Meilleurs Jeux</h2>
              <p>Une sélection exceptionnelle pour tous les goûts</p>
              <a routerLink="/createcategory" class="btn btn-light btn-lg">Ajouter une catégorie </a>
          </div>
      </div>
  </div>
</div>
<!-- Carousel End -->

<!-- Search Start -->
<div class="container-fluid bg-info mb-0 wow fadeIn" data-wow-delay="0.1s" style="padding: 25px;">
  <div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row g-3">
        <div class="col-md-3">
          <label for="name">Par nom</label>
          <input type="text" class="form-control border-0" formControlName="name" placeholder="Nom catégorie" />
        </div>
        <div class="col-md-2">
          <label for="date">Par date</label>
          <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="col-md-3">
          <label for="parentType">Par parent | Root</label>
          <select class="form-select border-0" formControlName="parentType">
            <option value="">Catégorie parent</option>
            <option value="parent">Parent</option>
            <option value="root">Root</option>
            <option value="child">Enfant</option>
          </select>
        </div>
        <div class="col-md-2"> <br>
          <button type="submit" class="btn btn-light border-0 w-100">Rechercher</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Search End -->

<!-- Résultats de recherche -->
<div class="container mt-4" *ngIf="hasSearched">
  <table class="table" *ngIf="categories.length > 0">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Type</th>
        <th>Date de création</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.parentId ? 'Enfant' : (category.children.length > 0 ? 'Parent' : 'Root') }}</td>
        <td>{{ category.createdAt | date }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="categories.length === 0">Aucun résultat trouvé.</p>

  <nav aria-label="Page navigation" *ngIf="categories.length > 0">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="onPageChange(currentPage - 1)">Précédent</a>
      </li>
      <li class="page-item" [class.disabled]="(currentPage + 1) * pageSize >= totalElements">
        <a class="page-link" (click)="onPageChange(currentPage + 1)">Suivant</a>
      </li>
    </ul>
  </nav>
</div>


<!-- Category Start -->
<div class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Catégories</h1>
    <div class="row g-4">
      @for (item of categoryList; track $index) {
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a class="cat-item rounded p-4" (click)="viewDetails(item.id)">
          <i class="fa fa-3x fa-apple-alt text-secondary mb-4"></i>
          <h6 class="mb-3">{{item.name}}</h6>
          <p class="mb-0">{{item.children.length}} Catégories Enfants</p>
        </a>
      </div>
      }
      
    </div>
  </div>
</div>
<!-- Category End -->


<!-- Categories Start -->
<div class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Liste des catégories</h1>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
      <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
            <h6 class="mt-n1 mb-0">Popular</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
            <h6 class="mt-n1 mb-0">New Arrivals</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
            <h6 class="mt-n1 mb-0">Best Sellers</h6>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <!-- Popular Categories -->
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded"  alt="Category Image" style="width: 80px; height: 80px;"
                     fill>
                <div class="text-start ps-4">
                  <h5 class="mb-3">Electronics</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>50 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>

        <!-- New Arrivals Categories -->
        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded"  alt="Category Image" style="width: 80px; height: 80px;"
                     fill>
                <div class="text-start ps-4">
                  <h5 class="mb-3">Home Appliances</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>30 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Best Sellers Categories -->
        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded"  alt="Category Image" style="width: 80px; height: 80px;"
                     fill>
                <div class="text-start ps-4">
                  <h5 class="mb-3">Fashion</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>120 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->
