<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a href="../../../index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
    <h1 class="m-0 text-secondary">Category-M</h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a routerLink="/"  class="nav-item nav-link active">Accueil</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
        <div class="dropdown-menu rounded-0 m-0">
          <a routerLink="/categorylist" class="dropdown-item">Categories</a>
          <a routerLink="/categorydetail" class="dropdown-item">category Detail</a>
          <a routerLink="/createcategory" class="dropdown-item">nouvelle categorie</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu rounded-0 m-0">
          <a href="404.html" class="dropdown-item">404</a>
        </div>
      </div>
      <a routerLink="/about" class="nav-item nav-link">A propos</a>
      <a routerLink="/contact" class="nav-item nav-link">Contact</a>
    </div>
    <a routerLink="" class="btn btn-secondary rounded-0 py-4 px-lg-5 d-none d-lg-block">Connexion<i class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>
<!-- Navbar End -->
