<!-- Category Start -->
<div class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Catégories</h1>
    <div class="row g-4">
      <ng-container *ngFor="let item of categoryList; trackBy: trackByFn">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
          <a class="cat-item rounded p-4" (click)="viewDetails(item.id)">
            <div class="image-container">
              <img class="img-fluid mb-4" [src]="item.imageUrl || 'default-image-url.jpg'" alt="{{ item.name }} Image">
            </div>
            <h6 class="mb-3">{{ item.name }}</h6>
            <p class="mb-0">{{ item.children.length }} Catégories Enfants</p>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- Category End -->


<!-- Categories Start -->
<div class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Liste des catégories</h1>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
      <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
            <h6 class="mt-n1 mb-0">Popular</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
            <h6 class="mt-n1 mb-0">New Arrivals</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
            <h6 class="mt-n1 mb-0">Best Sellers</h6>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <!-- Popular Categories -->
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded" src="img/category-1.jpg" alt="Category Image" style="width: 80px; height: 80px;">
                <div class="text-start ps-4">
                  <h5 class="mb-3">Electronics</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>50 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>

        <!-- New Arrivals Categories -->
        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded" src="img/category-2.jpg" alt="Category Image" style="width: 80px; height: 80px;">
                <div class="text-start ps-4">
                  <h5 class="mb-3">Home Appliances</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>30 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Best Sellers Categories -->
        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="category-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded" src="img/category-3.jpg" alt="Category Image" style="width: 80px; height: 80px;">
                <div class="text-start ps-4">
                  <h5 class="mb-3">Fashion</h5>
                  <span class="text-truncate me-3"><i class="fa fa-tags text-secondary me-2"></i>120 Products</span>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-secondary" href="">Voir catégorie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->
